---
---

@import "{{ site.theme }}";


h1, h2, h3, h4, h5, h6
{
	color: #f03030;
}

header h1
{
	color: #f03030;
}

header
{
	border-bottom: 2px dashed #f03030;
	margin: 0 0 5px 0;
}

pre
{
	color: #f03030;
}

p
{
	font-family: sans-serif;
}

section
{
	margin: 0 0 0 0;
}

code.highlighter-rouge
{
    color: #eeee00;
}

strong
{
    color: #f0be00;
}

th
{
    border-bottom: 1px dashed #f00303;
}

table
{

    border: 1px dashed #f00303;
}

funcdef
{
    border: 1px #f00303;
    background-color: #4a4a4a;
    box-shadow: 5px 10px;
}